@model MVCProject.Models.Tiquetes

@{
    ViewData["Title"] = "Crear Tiquete";
}

<h2>Crear Tiquete</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="ti_asunto" class="control-label"></label>
        <input asp-for="ti_asunto" class="form-control" />
        <span asp-validation-for="ti_asunto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ti_categoria" class="control-label"></label>
        <input asp-for="ti_categoria" class="form-control" />
        <span asp-validation-for="ti_categoria" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ti_us_id_asigna" class="control-label"></label>
        <input asp-for="ti_us_id_asigna" class="form-control" />
        <span asp-validation-for="ti_us_id_asigna" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ti_urgencia" class="control-label"></label>
        <input asp-for="ti_urgencia" class="form-control" />
        <span asp-validation-for="ti_urgencia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ti_importancia" class="control-label"></label>
        <input asp-for="ti_importancia" class="form-control" />
        <span asp-validation-for="ti_importancia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ti_estado" class="control-label"></label>
        <input asp-for="ti_estado" class="form-control" />
        <span asp-validation-for="ti_estado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ti_solucion" class="control-label"></label>
        <input asp-for="ti_solucion" class="form-control" />
        <span asp-validation-for="ti_solucion" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
